* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #abd6fa; }
  body h1 {
    font-family: sans-serif;
    font-weight: bolder;
    text-align: center;
    letter-spacing: 5px;
    font-size: 50px;
    color: yellow; }
  body .masonry {
    position: relative; }
    body .masonry__item {
      list-style: none;
      position: absolute; }
    body .masonry__image {
      width: 100%;
      height: auto;
      object-fit: cover; }
